.user-personal-info>mat-form-field{
    margin: 10px;
}
/* #leftsection{
    margin: 0 !important;
    padding: 20px 20px 20px 20px;
    background-color: #9a67ea;
    max-width: 300px !important;
    overflow: hidden;
} */
#actions{
    padding-bottom:20px !important;
    margin-bottom: 0px;
}