<div fxLayout="row wrap" fxLayoutAlign="space-around start" fxLayout.xs="column" fxLayoutAlign.xs="center center" style="overflow:hidden; min-height: 500px; background-color: white">


  <div fxLayout="column" fxLayoutAlign="start start" fxLayoutAlign.xs="center center" id="diet-component-container">

    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center" id="titlecontainer" fxLayoutAlign.xs="start center">
      <h2 style="font-weight: 300; ">Current Diet: </h2>
      <h2 style="font-weight: 300; margin-left: 10px;" *ngIf="!isNameChanging">{{diet.name}} </h2>
      <div fxLayout.xs="row" fxLayoutAlign="start center">

        <mat-form-field *ngIf="isNameChanging" style="margin-left: 20px">
          <input matInput #height placeholder="Change your diet name" [(ngModel)]="diet.name">
        </mat-form-field>

        <mat-icon matSuffix style="margin-left: 30px" (click)="modifyDietName()" *ngIf="!isNameChanging">mode_edit</mat-icon>
        <mat-icon matSuffix style="margin-left: 30px" (click)="modifyDietName()" *ngIf="isNameChanging">check_circle</mat-icon>
      </div>
      <!-- <mat-icon matSuffix style = "margin-left: 30px" (click)="modifyDietName()" ngIf="isNameChanging">check_circle</mat-icon> -->


    </div>
    <!-- <div *ngFor="let item of daysOfTheWeek() " style="margin-top: 20px; max-width: inherit;">
      <div style="background-color: #3f51b5; color:white; border-top-left-radius: 5px; border-top-right-radius: 5px; min-height: 50px; " fxLayout="column" fxLayoutAlign="center start" fxLayoutAlign.xs="center center">
        <h3 style="font-weight: 300; margin-left: 30px; margin-bottom: 20px;">{{item}}</h3>
      </div>
      <app-day></app-day>
    </div> -->
    <mat-horizontal-stepper labelPosition="bottom" #stepper style="margin-top: 20px;" *ngIf="!isSmall">
      <mat-step *ngFor="let day of daysOfTheWeek() " [stepControl]="'day'">
        <ng-template matStepLabel>{{day}}</ng-template>
        <div style="background-color: #3f51b5; color:white; border-top-left-radius: 5px; border-top-right-radius: 5px; min-height: 50px; "
          fxLayout="column" fxLayoutAlign="center start" fxLayoutAlign.xs="center center">
          <h3 style="font-weight: 300; margin-left: 30px; margin-bottom: 20px;">{{day}}</h3>
        </div>
        <app-day [day]="day"></app-day>

      </mat-step>

    </mat-horizontal-stepper>
    <mat-horizontal-stepper labelPosition="bottom" #stepper style="margin-top: 20px; max-width: inherit;" *ngIf="isSmall">
      <mat-step *ngFor="let day of daysOfTheWeek() " [stepControl]="'day'">
        <ng-template matStepLabel *ngIf="day.day2">{{day.day1.substring(0,3)}} - {{day.day2.substring(0,3)}}</ng-template>
        <ng-template matStepLabel *ngIf="day.day2==null">{{day.day1.substring(0,3)}}</ng-template>

        <div style="background-color: #3f51b5; color:white; border-top-left-radius: 5px; border-top-right-radius: 5px; min-height: 50px; margin-top: 20px;"
          fxLayout="column" fxLayoutAlign="center start" fxLayoutAlign.xs="center center">
          <h3 style="font-weight: 300; margin-bottom: 20px;">{{day.day1}}</h3>
        </div>
        <app-day [day]="day.day1"></app-day>
        <div style="background-color: #3f51b5; color:white; border-top-left-radius: 5px; border-top-right-radius: 5px; min-height: 50px; margin-top: 20px;"
          fxLayout="column" fxLayoutAlign="center start" fxLayoutAlign.xs="center center" *ngIf="day.day2!=null">
          <h3 style="font-weight: 300;  margin-bottom: 20px;">{{day.day2}}</h3>
        </div>
        <app-day *ngIf="day.day2!=null" [day]="day.day2"></app-day>
      </mat-step>

    </mat-horizontal-stepper>
  </div>
  <div fxLayout="column" fxLayoutAlign="start center" style="min-width: 100px; margin-top: 20px;" *ngIf="!isSmall">
    <h2 style="font-weight: 300">Your food recommendations</h2>
    <!--qui ci va un component diet history che raccoglie tutte le info su ciò che è stato mangiato-->

  </div>


</div>