#diet-component-container {
    min-width: 200px;
    min-height: 200px;
    max-width: 700px !important;
    margin-bottom: 50px;
    /* margin-left: 50px; */

}

#titlecontainer {
    width: 100%;
    margin: 20px 20px 20px 30px;
}

.responsive-form {
    margin-left: 20px;
}



@media screen and (min-width: 959px) and (max-width:1150px) {
    #diet-component-container {
        /* margin-left: 50px; */
        max-width: 650px !important;
    }
}
@media screen and (min-width:601px) and (max-width:940px){
    #diet-component-container {
        /* margin-left: 0px; */
        max-width: 700px !important;
    }
}

@media screen and (max-width:600px) {
    #diet-component-container {
        /* margin-left: 0px; */
        min-height: 150px;
        max-width: 550px !important;
    }
}

@media screen and (max-width:500px) {
    #diet-component-container {
        max-width: 100% !important;
    }
    .responsive-form {
        margin-left: 15px;
        max-width: 100px;
    }
    #titlecontainer {
        max-width: 280px;
        max-height: 100px !important;
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 10px;
    }
}