.spacer {
  flex: 1 1 auto;
}



#register-component-container {
  max-height: 550px !important;
  height: 100%;
  width: 100vw;
  background-image: url('../assets/food_pattern_mobile.svg');
  overflow: scroll;
  
}

@media screen and (max-width:600px){
  #register-component-container{
    height: 750px !important;
    
  }
}
