<div class="buyOnline">
  <mat-list style="margin-top: 60px; min-width:70%; max-width:600px;overflow-y: hidden; overflow-x: hidden;"
  id="food_list" fxHide.lt-md="true">
  <h2 class="title" style="font-weight: 300; ">Choose your products's brands! </h2>
  <mat-list-item *ngFor="let foodRdf of this.shoppingList | keyvalue" >
    <img matListAvatar [src]="foodRdf.value.imgUrl" >
    <h3  matLine> {{foodRdf.key}} </h3>
    <div matLine fxLayout="row" fxLayoutAlign="space-between center">
      <p style="  white-space: nowrap; 
      overflow: hidden;
      text-overflow: ellipsis; width: 150px !important">
        {{foodRdf.value.quantity}} gr.
      </p>
    </div>

    <mat-form-field style="min-width: 70px; margin-bottom: 30px" color="accent" fxLayout="row" fxLayoutAlign="center start">
        <mat-select #select (selectionChange)="editList($event)"> 

            <div *ngFor="let brand of this.listBrandPrice">
                <mat-option *ngIf="brand.product == foodRdf.key" [value]="brand.price * foodRdf.value.quantity">
                    {{brand.brandName}} - {{brand.price * foodRdf.value.quantity | number : '1.2-2'}}€
                    <!-- {{brand}} -->
                </mat-option>
            </div> 

        </mat-select>
        <mat-hint >Choose the brand</mat-hint>
    </mat-form-field> 
    
    <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
  </mat-list-item>
</mat-list>
<div class="total">
  <p>
    Total: <span>{{this.total | number : '1.2-2'}}</span> €
  </p>
</div>
</div>

<div class="buttons">
<button mat-raised-button color="warn" (click)="backToShopping()">Back</button>
<button mat-raised-button color="primary" (click)="openDialog()">Confirm</button>
</div>