#matlist {

}



/* @media screen and (min-width:650px) {
    #matlist {
        min-width: 600px !important;
    }
}
@media screen and (min-width:510px) and (max-width:650px) {
    #matlist {
        min-width: 450px ;
    }
}
@media screen and (min-width:400px) and (max-width:500px) {
    #matlist {
        min-width: 350px ;
    }
} */