<mat-list>
    <div fxLayout="column" fxLayoutAlign="center center" *ngIf="foodToDisplay.length == 0">
        <img src="./assets/sad.svg" width="40px;" height="auto" style="margin:20px">
        <h3 style="font-weight: 300">No food yet! Add some</h3>
    </div>
    <div *ngFor="let food of foodToDisplay" fxLayout="column" fxLayoutAlign="start center" style="height: auto;">
        <div fxLayout="row"  fxLayoutAlign="center center" style="width:100%">
            <h2 style="margin: 0px; font-weight: 300;">{{food.name}}</h2>
            <img src="./assets/x-button.svg" style="width: 15px;height: auto; margin-left: 20px" (click)="onDeleteFood(food)">
        </div>
        <mat-list-item fxLayout="column" fxLayoutAlign="center center" style="margin-bottom: 20px; height: auto; margin-left: 10px; margin-right: 10px">

            <app-food [food]="food" [day]="day" [mealType]="mealType"></app-food>




        </mat-list-item>

    </div>
    <mat-form-field style="min-width: 60px; margin-top: 20px; margin-bottom: 20px" color="accent" fxLayout="row"
        fxLayoutAlign="center start">
        <mat-select placeholder="Pick some {{meal.mealType}} food" #select (selectionChange)="addFoodComponent($event)">
            <mat-option *ngFor="let food of foodToDisplayForOptions" [value]="food.name" >
                {{food.name}}
            </mat-option>
        </mat-select>
        <mat-hint>You can add more food to your diet</mat-hint>
    </mat-form-field>
</mat-list>