<mat-toolbar color="primary" class="mat-elevation-z8" style="position:fixed; top:0; height: 60px;">
  <!-- <span>Custom Toolbar</span>-->
  <button mat-icon-button (click)="sidenavToggled.emit(true)" *ngIf="userName!==undefined">
    <mat-icon>menu</mat-icon>
  </button>
  

  <div *ngIf="!isMobile">
    <a mat-button routerLink="/home/food">Food</a>
    <a mat-button routerLink="/home/physicalactivities">Physical Activities</a>
    <a mat-button routerLink="/home/diary">Diary</a>
  </div>
  <span class="spacer"></span>
  <img mat-button [matMenuTriggerFor]="account_menu" src="./assets/man.svg" class="toolbar-icon">
  <mat-menu #account_menu>

    <button mat-menu-item routerLink="/registration/signup">Sign Up</button>
    <button mat-menu-item routerLink="/registration/login">Log In</button>
    <button mat-menu-item routerLink="/home/food" *ngIf="isMobile">Food</button>
    <button mat-menu-item routerLink="/home/physicalactivities" *ngIf="isMobile">Physical Activities</button>
    <button mat-menu-item routerLink="/home/diary" *ngIf="isMobile">Diary</button>

  </mat-menu>


</mat-toolbar>