<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav [mode]="isOver ? 'over' : 'side'" [fixedInViewport]="isOver" [style.marginTop.px]="60" >
    <div fxLayout="column" fxLayoutAlign="start center" fxLayoutAlign.xs="center center">

      <div fxLayout="column" fxLayoutAlign="start start" id="sidenavheader">
        <h3>{{currentUser.userName}}</h3>
        <h5>{{currentUser.email}}</h5>

      </div>
      <div *ngIf="!isNutritionist">
        <div fxLayout="column" fxLayoutAlign="center center" id="patientdetailssection">



          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Birthdate " [(ngModel)]="currentUser.birthDate"
              [value]="currentUser.birthDate" (focus)="isUserUpdated=false" autofocus="off">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>



          <mat-form-field>
            <mat-select placeholder="Gender" [(ngModel)]="currentUser.gender" (focus)="isUserUpdated=false">
              <mat-option value="Male">Male</mat-option>
              <mat-option value="Female">Female</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <span matSuffix>cm</span>
            <input matInput #height placeholder="Height" type="number" [(ngModel)]="currentUser.height"
              (focus)="isUserUpdated=false">
          </mat-form-field>

          <mat-form-field>
            <span matSuffix>kg</span>
            <input matInput #weight placeholder="Weight" type="number" [(ngModel)]="currentUser.weight"
              (focus)="isUserUpdated=false">
          </mat-form-field>

        </div>
        <div fxLayout="column" fxLayoutAlign="center center" *ngIf="!isUserUpdated"
          style="min-width: 230px; min-height: 100px;">
          <h4 style="font-weight: normal">Please update your profile</h4>
          <h5 style="margin-top: 0px; font-weight: normal; margin-left: 5px;margin-right: 5px;">They are needed for
            better recommendation</h5>
          <button mat-fab style="margin-bottom:10px;" (click)="updateUserDetails()"
            [disabled]="!currentUser.birthDate || !currentUser.weight || !currentUser.height || !currentUser.gender">
            <mat-icon>send</mat-icon>
          </button>
          <div *ngIf="isSpinnerShown">
            <mat-spinner class="login-spinner" color="accent" [diameter]="30"></mat-spinner>
          </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" *ngIf="!currentUser.goal"
          style="min-width: 230px; min-height: 100px;">
          <h4 style="font-weight: normal">No physical activity going on!</h4>
          <h5 style="margin-top: 0px; font-weight: normal">Please fill the form and add one</h5>
          <button mat-fab style="margin-bottom:10px;"
            [disabled]="!currentUser.birthDate || !currentUser.weight || !currentUser.height || !currentUser.gender">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <mat-card id="goalsection" *ngIf="currentUser.goal">
          <mat-card-header fxLayoutAlign="start">
            <h4>Current Goal: {{currentUser.goal.type}}</h4>
          </mat-card-header>
          <mat-card-content fxLayout="column" fxLayoutAlign="start start">
            <img src="./assets/man_on_byke.jpg">
          </mat-card-content>

          <mat-card-footer fxLayout="column" fxLayoutAlign="start start" style="margin-left: 10px; margin-bottom: 10px">

            <div fxLayout="row">
              <img src="./assets/bicycle.svg" style="width: 50px; height: 50px; margin-right: 10px;">
              <p>Completed {{currentUser.goal.adherence}} {{currentUser.goal.unitOfMeasure }} of
                {{currentUser.goal.total}} {{currentUser.goal.unitOfMeasure }}</p>
            </div>


          </mat-card-footer>

        </mat-card>
      </div>
      <div *ngIf="isNutritionist" fxLayout="column" fxLayoutAlign="start center" style="min-width: 80%">
        <h2 style="font-weight: 300">Current Patient</h2>

        <div *ngIf="currentPatient">
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar class="category-header-image"
                [ngStyle]="{'background-image' : 'url('+currentPatient.imageUrl+')'}">
              </div>
              <mat-card-title>{{currentPatient.userName}}</mat-card-title>
              <mat-card-subtitle>{{currentPatient.birthDate.toLocaleDateString()}}</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
        <img src="./assets/nocurrentpatient.svg" style="max-width:60%" *ngIf="!currentPatient">

        <h2 style="font-weight: 300">Patients</h2>
        <mat-list>
          <mat-list-item matRipple *ngFor="let patient of nutritionistPatients" (click)="onPatientClicked(patient)">
            <img matListAvatar [src]="patient.imageUrl">
            <h2 matLine>{{patient.userName}}</h2>

            <p matLine style="  white-space: nowrap; 
                 width: 150px !important">
              {{patient.birthDate.toLocaleDateString()}}
            </p>

            <mat-divider [inset]="true" *ngIf="!lastRecord"></mat-divider>
          </mat-list-item>

        </mat-list>
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Users" aria-label="users" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="setCurrentPatient($event)">
            <mat-option *ngFor="let user of allFilteredUsers" [value]="user.userName">
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                <img style="border-radius: 50%" aria-hidden [src]="user.imageUrl" height="25">
                <span>{{user.userName}}</span>
                <span>|</span>
                <small>{{user.birthDate.toLocaleDateString()}}</small>
              </div>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>


    </div>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>