<div class="shoppingList" id="print-section" >
    <mat-list style="margin-top: 60px; min-width:70%; max-width:600px;overflow-y: hidden; overflow-x: hidden;"
    id="food_list" fxHide.lt-md="true">
    <h2 class="title" style="font-weight: 300; ">Shopping list for diet: {{this.diet.name}} </h2>
    <mat-list-item *ngFor="let foodRdf of this.shoppingList | keyvalue" >
      <img class="noPrint" matListAvatar [src]="foodRdf.value.imgUrl" >
      <h3  matLine> {{foodRdf.key}} </h3>
      <div matLine fxLayout="row" fxLayoutAlign="space-between center">
        <p style="  white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; width: 150px !important">
          {{foodRdf.value.quantity}} gr.
        </p>
      </div>

      <mat-form-field class="noPrint" style="min-width: 70px; margin-bottom: 30px" color="accent" fxLayout="row" fxLayoutAlign="center start">
          <mat-select class="noPrint"  #select (selectionChange)="editList($event, foodRdf.value.name)"> 

              <div class="noPrint" *ngFor="let food of  this.foodService.getAllFood()">
                  <mat-option class="noPrint" *ngIf="food.type === foodRdf.value.type" [value]="food.name">
                      {{food.name}}
                  </mat-option>
              </div>

          </mat-select>
          <mat-hint class="noPrint" >You can choose an alternative food</mat-hint>
      </mat-form-field> 
      
      <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
    </mat-list-item>
  </mat-list>
</div>

<div class="buttons">
  <button mat-raised-button printSectionId="print-section" ngxPrint color="primary"
  [printStyle]="{'.noPrint' : {'display': 'none'}}" >Print list</button>
  <button mat-raised-button color="primary" (click)="navigateToBuy()">Buy online</button>
</div>