<div fxLayout="row" fxLayoutAlign="space-between center" class="section_header">
  <h1 class="section_title">Physical Activities</h1>

</div>

<div fxLayout="row" fxLayoutAlign="space-evenly start" style="margin-bottom: 100px;" fxHide.lt-lg="true"
  *ngIf="currentDiet && currentGoal && allPhysicalActivities && allPhysicalActivityRecords">
  <div fxLayout="column" fxLayoutAlign="start center" style="margin-top: 40px; " id="left_content">
    <!-- first column -->
    <div fxLayout="row" fxLayout="space-evenly center" fxLayoutGap="40px">
      <div fxLayout="column" fxLayoutAlign="center center">
        <img src="./assets/scale.svg" style=" max-height: 200px" (load)="onImageLoad()">
      </div>
      <div fxLayout="column" fxLayoutAlign="center start">
        <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="15px">
          <h2 style="font-weight: 300">Current Diet:</h2>
          <p class="important-p">{{currentDiet.name}}</p>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="15px">
          <h2 style="font-weight: 300">Total calories:</h2>
          <p class="important-p">{{currentDiet.totalCalories}} kcal</p>

        </div>
        <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="15px" *ngIf="!addNewGoal">
          <h2 style="font-weight: 300">Weekly goal:</h2>
          <div fxLayout="row" fxLayoutAlign="space-between center" style="width:150px" *ngIf="!currentGoalIsChanging">
            <p class="important-p" *ngIf="!currentGoalIsChanging" (click)="currentGoalIsChanging = true">
              {{currentGoal.weeklyGoal}} kcal</p>
            <mat-icon (click)="currentGoalIsChanging = true" matSuffix>edit</mat-icon>
          </div>
          <mat-form-field *ngIf="currentGoalIsChanging" (focusin)="currentGoalIsChanging=true"
            (focusout)="onGoalDeselect()">
            <mat-label>Goal</mat-label>
            <input [(ngModel)]="currentGoal.weeklyGoal" [value]="currentGoal.weeklyGoal" matInput
              placeholder="Insert new goal">
            <span matSuffix>kcal</span>
          </mat-form-field>

        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px" *ngIf="addNewGoal">
          <h2 style="font-weight: 300">Weekly goal:</h2>
          <mat-form-field>
            <mat-label>Goal</mat-label>
            <input [(ngModel)]="currentGoal.weeklyGoal " matInput placeholder="Insert new goal">
            <span matSuffix>kcal</span>
          </mat-form-field>
          <mat-icon matTooltip="Add a new goal to {{currentPatient.userName}}'s' diet" (click)="onAddNewGoal()">
            add_circle
          </mat-icon>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="15px">
          <h2 style="font-weight: 300">Activity:</h2>
          <div fxLayout="row" fxLayoutAlign="space-between center" style="width:150px">
            <p class="important-p" *ngIf="!currentGoal.physicalActivityId">Add one!</p>
            <p class="important-p" *ngIf="currentGoal.physicalActivityId">
              {{currentGoal.physicalActivityName}}</p>

          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="15px">
          <h2 style="font-weight: 300">Adherence:</h2>
          <p class="important-p">{{currentGoal.adherence.toFixed(2)}}%</p>
        </div>
      </div>
    </div>
    <h2 style="font-weight: 300; margin-top: 20px; ">Recent activity records</h2>
    <mat-list
      style="margin-top:5px; min-width:100%; max-height:100%;max-width:400px;overflow-y: auto; overflow-x: hidden;"
      *ngIf="records.length > 0">
      <mat-list-item mat-ripple *ngFor="let record of records; lastRecord as last" (click)="onRecordClicked()">
        <img matListAvatar [src]="getRecordImage(record)" (load)="columnsSameHeight()">
        <h3 matLine *ngIf="!isToday(record)"> Date: {{record.sessionTimeStart.toLocaleDateString()}} at
          {{record.sessionTimeStart.getHours()}}:{{record.sessionTimeStart.getMinutes()}} </h3>
        <h3 matLine *ngIf="isToday(record)"> Date: Today at
          {{record.sessionTimeStart.getHours()}}:{{record.sessionTimeStart.getMinutes()}} </h3>
        <div matLine fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
          <p style="  white-space: nowrap; 
         width: 150px !important">
            Burnt calories: {{record.burntCalories.toFixed(2)}} kcal
          </p>
          <p style="  white-space: nowrap; 
          width: 150px !important">
            {{getPhysicalActivityName(record.physicalActivityId)}}
          </p>
        </div>
        <mat-divider [inset]="true" *ngIf="!lastRecord"></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" style="margin-top: 40px;"
    *ngIf="currentDiet && allPhysicalActivities && currentPhysicalActivity" id="right_content">
    <!-- second column -->
    <mat-card>
      <mat-icon style="position:absolute; right: 25px;" matTooltip="Add {{currentPhysicalActivity.name}} to your diet"
        (click)="onAddNewCurrentPhysicalActivity()" *ngIf="!isAlreadyAdded">add_circle</mat-icon>
      <mat-icon style="position:absolute; right: 25px;"
        matTooltip="Remove {{currentPhysicalActivity.name}} from your diet"
        (click)="onRemoveNewCurrentPhysicalActivity()" *ngIf="isAlreadyAdded">remove_circle</mat-icon>
      <mat-card-header style="width: inherit" class="form-card">
        <div fxLayout="row" fxLayoutAlign="space-evenly center" style="width: 100%">
          <h1 class="pa-name" (click)="nameIsChanging=!nameIsChanging" *ngIf="!nameIsChanging">
            {{currentPhysicalActivity.name}}</h1>
          <mat-form-field *ngIf="nameIsChanging" (focusout)="onTextAreaDeselect()" (focusin)="isSend = true"
            appearance="outline">
            <mat-label>Name</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="3" [(ngModel)]="currentPhysicalActivity.name"></textarea>
          </mat-form-field>
          <mat-slide-toggle [disabled]="currentPhysicalActivity.rdfOutput === ''" (change)="onToggleChange($event)"
            fxHide="false" fxHide.xs="true" style="text-overflow:ellipsis">
            Show RDF </mat-slide-toggle>
          <mat-slide-toggle [disabled]="currentPhysicalActivity.rdfOutput === ''" (change)="onToggleChange($event)"
            fxHide="true" fxHide.xs="false">
          </mat-slide-toggle>
        </div>
      </mat-card-header>
      <mat-card-content *ngIf="!showRdf">
        <div fxLayout="row" fxLayoutAlign="space-evenly center">
          <img class="physical-activity-image" [src]="currentPhysicalActivity.imageUrl" *ngIf="!imageIsClicked"
            (click)="imageIsClicked = true" (load)="onImageLoad()">
          <mat-form-field (focusout)="onTextAreaDeselect()" (focusin)="isSend = true" appearance="outline"
            *ngIf="imageIsClicked">
            <mat-label>Image Local Url</mat-label>
            <input matInput [(ngModel)]="currentPhysicalActivity.imageUrl">
          </mat-form-field>
          <p class="important-p" *ngIf="!descriptionIsChanging" (click)="descriptionIsChanging=!descriptionIsChanging">
            {{currentPhysicalActivity.description}}

          </p>
          <mat-form-field *ngIf="descriptionIsChanging" (focusout)="onTextAreaDeselect()" (focusin)="isSend = true"
            appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="3" [(ngModel)]="currentPhysicalActivity.description"></textarea>
          </mat-form-field>
        </div>
        <div fxLayout="row " fxLayoutAlign="space-evenly center" style="margin-top: 50px" fxLayoutGap="15px">
          <mat-form-field appearance="outline" (focusout)="onTextAreaDeselect()" (focusin)="isSend = true">
            <mat-label>Start Date</mat-label>
            <input matInput [matDatepicker]="startDate" placeholder="Start date" [formControl]="serializedStartDate">
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="outline" (focusout)="onTextAreaDeselect()" (focusin)="isSend = true">
            <mat-label>End Date</mat-label>
            <input matInput [matDatepicker]="endDate" placeholder="End date" [formControl]="serializedEndDate">
            <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
            <mat-datepicker #endDate></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="outline" (focusout)="onTextAreaDeselect()" (focusin)="isSend = true">
            <mat-label>Calories per hour</mat-label>
            <input type="number" matInput [(ngModel)]="currentPhysicalActivity.caloriesPerHour">
            <span matSuffix>kcal</span>
          </mat-form-field>
        </div>

        <!-- <div fxLayout="row" fxLayoutAlign="space-evenly center"> -->

        <!-- <div fxLayout="column" fxLayoutAlign="center center">
          <h2 style="font-weight: 300">Ask for suggestions</h2>
          <button mat-fab (click)="onSuggestionAsked()">
            <mat-icon>refresh</mat-icon>
          </button>


        </div> -->

        <!-- </div> -->


      </mat-card-content>
      <mat-card-content *ngIf="showRdf">
        <p fxLayout="row" fxLayoutAlign="center center" style="white-space: pre">
          {{currentPhysicalActivity.rdfOutput}}
        </p>
      </mat-card-content>
    </mat-card>
    <h2 style="font-weight: 300; margin-top: 20px; ">Physical Activities</h2>
    <mat-list
      style="margin-top:5px; min-width:100%; max-height:300px;max-width:400px;overflow-y: auto; overflow-x: hidden;"
      *ngIf="allPhysicalActivities">
      <mat-list-item mat-ripple *ngFor="let pa of allPhysicalActivities; lastPa as last" (click)="onPaClicked(pa)">
        <img matListAvatar [src]="pa.imageUrl" (load)="columnsSameHeight()">
        <h3 matLine>{{pa.name}}</h3>

        <div matLine fxLayout="row" fxLayoutAlign="start center">
          <p style="  white-space: nowrap; 
         width: 150px !important">
            Calories per hour: {{pa.caloriesPerHour.toFixed(2)}} kcal
          </p>

        </div>
        <mat-divider [inset]="true" *ngIf="!lastRecord"></mat-divider>
      </mat-list-item>
    </mat-list>


  </div>
</div>

<mat-tab-group mat-align-tabs="center" fxHide.gt-md="true"
  *ngIf="currentDiet && currentGoal && allPhysicalActivities && allPhysicalActivityRecords">
  <mat-tab label="Current Diet">
    <ng-template matTabContent>
      <div fxLayout="column" fxLayoutAlign="start center" style="margin-top: 40px; " id="left_content">
        <!-- first column -->
        <div fxLayout="row" fxLayout="space-evenly center" fxLayoutAlign.xs="center start" fxLayoutGap.gt-xs="40px">
          <div fxLayout="column" fxLayoutAlign="center center">
            <img src="./assets/scale.svg" style=" max-height: 150px" (load)="onImageLoad()">
          </div>
          <div fxLayout="column" fxLayoutAlign="center start">
            <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="15px">
              <h2 style="font-weight: 300">Current Diet:</h2>
              <p class="important-p">{{currentDiet.name}}</p>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="15px">
              <h2 style="font-weight: 300">Total calories:</h2>
              <p class="important-p">{{currentDiet.totalCalories}}</p>
              <span>kcal</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="15px" *ngIf="!addNewGoal">
              <h2 style="font-weight: 300">Weekly goal:</h2>
              <div fxLayout="row" fxLayoutAlign="space-between center" style="width:150px"
                *ngIf="!currentGoalIsChanging">
                <p class="important-p" *ngIf="!currentGoalIsChanging" (click)="currentGoalIsChanging = true">
                  {{currentGoal.weeklyGoal}}</p>
                <mat-icon (click)="currentGoalIsChanging = true" matSuffix>edit</mat-icon>
              </div>
              <mat-form-field *ngIf="currentGoalIsChanging" (focusin)="currentGoalIsChanging=true"
                (focusout)="onGoalDeselect()">
                <mat-label>Goal</mat-label>
                <input [(ngModel)]="currentGoal.weeklyGoal " [value]="currentGoal.weeklyGoal" matInput
                  placeholder="Insert new goal">
                <span matSuffix>kcal</span>
              </mat-form-field>

            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px" *ngIf="addNewGoal">
              <h2 style="font-weight: 300">Weekly goal:</h2>
              <mat-form-field>
                <mat-label>Goal</mat-label>
                <input [(ngModel)]="currentGoal.weeklyGoal " matInput placeholder="Insert new goal">
                <span matSuffix>kcal</span>
              </mat-form-field>
              <mat-icon matTooltip="Add a new goal to {{currentPatient.userName}}'s' diet" (click)="onAddNewGoal()">
                add_circle
              </mat-icon>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="15px">
              <h2 style="font-weight: 300">Activity:</h2>
              <div fxLayout="row" fxLayoutAlign="space-between center" style="width:150px">
                <p class="important-p" *ngIf="!currentGoal.physicalActivityId">Add one!</p>
                <p class="important-p" *ngIf="currentGoal.physicalActivityId">
                  {{currentGoal.physicalActivityName}}</p>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="15px">
              <h2 style="font-weight: 300">Adherence:</h2>
              <p class="important-p">{{currentGoal.adherence.toFixed(2)}}%</p>
            </div>
          </div>
        </div>
        <h2 style="font-weight: 300; margin-top: 20px; ">Recent activity records</h2>
        <mat-list style="   margin-top: 5px;
        min-width: 80%;
        max-height: 300px;
        max-width: 100%;
        margin-bottom: 30px;
        overflow-y: auto;
        overflow-x: hidden;" *ngIf="records.length > 0">
          <mat-list-item mat-ripple *ngFor="let record of records; lastRecord as last" (click)="onRecordClicked()">

            <img matListAvatar [src]="getRecordImage(record)" (load)="columnsSameHeight()">
            <h3 matLine *ngIf="!isToday(record)"> Date: {{record.sessionTimeStart.toLocaleDateString()}} at
              {{record.sessionTimeStart.getHours()}}:{{record.sessionTimeStart.getMinutes()}} </h3>
            <h3 matLine *ngIf="isToday(record)"> Date: Today at
              {{record.sessionTimeStart.getHours()}}:{{record.sessionTimeStart.getMinutes()}} </h3>
            <div matLine fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
              <p style="  white-space: nowrap; 
             width: 150px !important">
                Burnt calories: {{record.burntCalories.toFixed(2)}} kcal
              </p>
              <p style="  white-space: nowrap; 
              width: 150px !important">
                {{getPhysicalActivityName(record.physicalActivityId)}}
              </p>
            </div>
            <mat-divider [inset]="true" *ngIf="!lastRecord"></mat-divider>
          </mat-list-item>
        </mat-list>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Physical Activities">
    <ng-template matTabContent>
      <div fxLayout="column" fxLayoutAlign="center center" style="margin-top: 40px;"
        *ngIf="currentDiet && allPhysicalActivities && currentPhysicalActivity" id="right_content">
        <!-- second column -->
        <mat-card class="tab-card">
          <mat-icon style="position:absolute; right: 25px;"
            matTooltip="Add {{currentPhysicalActivity.name}} to your diet" (click)="onAddNewCurrentPhysicalActivity()"
            *ngIf="!isAlreadyAdded">add_circle</mat-icon>
          <mat-icon style="position:absolute; right: 25px;"
            matTooltip="Remove {{currentPhysicalActivity.name}} from your diet"
            (click)="onRemveNewCurrentPhysicalActivity()" *ngIf="isAlreadyAdded">remove_circle</mat-icon>
          <mat-card-header class="form-card">
            <div fxLayout="row" fxLayoutAlign="space-evenly center" style="width: 100%">
              <h1 class="pa-name" (click)="nameIsChanging=!nameIsChanging" *ngIf="!nameIsChanging">
                {{currentPhysicalActivity.name}}</h1>
              <mat-form-field *ngIf="nameIsChanging" (focusout)="onTextAreaDeselect()" (focusin)="isSend = true"
                appearance="outline">
                <mat-label>Name</mat-label>
                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="3" [(ngModel)]="currentPhysicalActivity.name"></textarea>
              </mat-form-field>
              <mat-slide-toggle [disabled]="currentPhysicalActivity.rdfOutput === ''" (change)="onToggleChange($event)"
                fxHide="false" fxHide.xs="true" style="text-overflow:ellipsis">
                Show RDF </mat-slide-toggle>
              <mat-slide-toggle [disabled]="currentPhysicalActivity.rdfOutput === ''" (change)="onToggleChange($event)"
                fxHide="true" fxHide.xs="false">
              </mat-slide-toggle>
            </div>
          </mat-card-header>
          <mat-card-content *ngIf="!showRdf">
            <div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
              <img class="physical-activity-image" [src]="currentPhysicalActivity.imageUrl" *ngIf="!imageIsClicked"
                (click)="imageIsClicked = true" (load)="onImageLoad()">
              <mat-form-field (focusout)="onTextAreaDeselect()" (focusin)="isSend = true" appearance="outline"
                *ngIf="imageIsClicked">
                <mat-label>Image Local Url</mat-label>
                <input matInput [(ngModel)]="currentPhysicalActivity.imageUrl">
              </mat-form-field>
              <p class="important-p" *ngIf="!descriptionIsChanging"
                (click)="descriptionIsChanging=!descriptionIsChanging">
                {{currentPhysicalActivity.description}}

              </p>
              <mat-form-field *ngIf="descriptionIsChanging" (focusout)="onTextAreaDeselect()" (focusin)="isSend = true"
                appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="3" [(ngModel)]="currentPhysicalActivity.description"></textarea>
              </mat-form-field>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="space-evenly center" style="margin-top: 50px"
              fxLayoutGap.gt-xs="15px">
              <mat-form-field appearance="outline" (focusout)="onTextAreaDeselect()" (focusin)="isSend = true">
                <mat-label>Start Date</mat-label>
                <input matInput [matDatepicker]="startDate" placeholder="Start date"
                  [formControl]="serializedStartDate">
                <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                <mat-datepicker #startDate></mat-datepicker>
              </mat-form-field>
              <mat-form-field appearance="outline" (focusout)="onTextAreaDeselect()" (focusin)="isSend = true">
                <mat-label>End Date</mat-label>
                <input matInput [matDatepicker]="endDate" placeholder="End date" [formControl]="serializedEndDate">
                <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                <mat-datepicker #endDate></mat-datepicker>
              </mat-form-field>
              <mat-form-field appearance="outline" (focusout)="onTextAreaDeselect()" (focusin)="isSend = true">
                <mat-label>Calories per hour</mat-label>
                <input type="number" matInput [(ngModel)]="currentPhysicalActivity.caloriesPerHour">
                <span matSuffix>kcal</span>
              </mat-form-field>
            </div>

            <!-- <div fxLayout="row" fxLayoutAlign="space-evenly center"> -->

            <!-- <div fxLayout="column" fxLayoutAlign="center center">
              <h2 style="font-weight: 300">Ask for suggestions</h2>
              <button mat-fab (click)="onSuggestionAsked()">
                <mat-icon>refresh</mat-icon>
              </button>


            </div> -->

            <!-- </div> -->


          </mat-card-content>
          <mat-card-content *ngIf="showRdf">
            <p fxLayout="row" fxLayoutAlign="center center" style="white-space: pre">
              {{currentPhysicalActivity.rdfOutput}}
            </p>
          </mat-card-content>
        </mat-card>
        <h2 style="font-weight: 300; margin-top: 20px; ">Physical Activities</h2>
        <mat-list style="   margin-top: 5px;
        min-width: 80%;
        max-height: 300px;
        max-width: 100%;
        overflow-y: auto;
        margin-bottom: 30px;
        overflow-x: hidden;" *ngIf="allPhysicalActivities">
          <mat-list-item mat-ripple *ngFor="let pa of allPhysicalActivities; lastPa as last" (click)="onPaClicked(pa)">
            <img matListAvatar [src]="pa.imageUrl" (load)="columnsSameHeight()">
            <h3 matLine>{{pa.name}}</h3>

            <div matLine fxLayout="row" fxLayoutAlign="start center">
              <p style="  white-space: nowrap; 
             width: 150px !important">
                Calories per hour: {{pa.caloriesPerHour.toFixed(2)}} kcal
              </p>

            </div>
            <mat-divider [inset]="true" *ngIf="!lastRecord"></mat-divider>
          </mat-list-item>
        </mat-list>


      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>

<button mat-fab class="add-pa" (click)="onNewPAClicked()" *ngIf="!isSend">
  <mat-icon>add</mat-icon>
</button>
<button mat-fab class="add-pa" (click)="onNewPAPosted()" *ngIf="isSend" [disabled]="isUpdating">
  <mat-icon>send</mat-icon>
</button>